.header-bottom{
    h1{
        width:180px;
        margin:24px 10px 0 0;
        img{
            width:176px;
            margin:0;
            // height:44px;
        }
    }
    .head-left{
        margin:0px 0 0 10px;
    }
    p{
        padding:45px 0 39px ;
        font-size: 16px;
        line-height:16px;
        a{
            color:#000;
            margin-left:40px;
        }
    }
}

.car{
    padding:0 105px;
    height:800px;
    p{
        border-bottom:2px solid #E6E6E6;
        color:#FFA500;
        height:48px;
        span{
            display:block;
            float:left;
            font-size: 16px;
            line-height:48px;
            font-weight:bold;
            padding:0 15px 0 15px;
            margin-bottom:-2px;
            border-bottom:2px solid #FFA500;
            em{
                font-weight:normal;
            }
        }
    }
    .car-nav{
        li{
            float:left;
            font-size: 14px;
            line-height:50px;
            .all{
                margin:0 8px 0 15px;
                vertical-align:middle;
            }
        }
    }
}