.location{
    padding:14px 16px;
    overflow: hidden;
    background:url('img/location.png') no-repeat left center;
    font-size: 12px;
    line-height:12px;
    a{
        display:block;
        float:left;
    }
    .arrows{
        display:block;
        width: 12px;
        height: 12px;
        margin-left:6px;
        float:left;
        background:url('img/arrows.png');
    }
    span{
        display:block;
        float:left;
        color:#666;
    }
}


.list-left{
    float:left;
    margin-right:12px;
    nav{
        width: 206px;
        height: 401px;
        border:1px solid #D7D7D7;
        border-top:0 none;
        font-size: 12px;
        .nav-top{
            padding-left:10px;
            border-top:2px solid #C8C8C8;
            background-color:#F5F5F5;
            line-height:36px;
        }
        .nav-bottom{
            padding:5px 10px;
            line-height:22px;
            dd{
                margin-left:16px;
            }
            i{
                display:block;
                float:left;
                width: 11px;
                height: 11px;
                margin:6px 5px 0 0;
                background:url('img/background_img.png') 0 0;
                cursor:pointer;
            }
            i:hover{
                background-position:-33px 0;
            }
            a{
                color:#555;
            }
            
        }
    }
}

.list-right{
    float:left;
    width: 980px;
    .sort{
        height:36px;
        border:1px solid #D7D7D7;
        font-size: 12px;
        line-height:36px;
        margin-bottom:14px;
        color:#777;
        background-color:#F7F7F7;
        dt{
            float:left;
            padding:0 10px;
        }
        dd{
            float:left;
            padding:0 13px;
            a{
                color:#777;
            }
            >i{
                display:inline-block;
                width: 7px;
                height: 8px;
                margin-left:4px;
                background:url('img/background_img.png') 0 -11px;
            }
        }
        .way{
            margin:2px -1px 0 0;
            border-left:1px solid #E6E6E6;
            border-right:1px solid #E6E6E6;
        }
        .way:hover{
            background-color:#fff;
            a{
                color:#FFA500;
            }
            i{
                background-position:-7px -11px;
            }
        }
        .region{
            padding:0 0 0 74px;
            span{
                display:block;
                float:right;
                width: 58px;
                height: 20px;
                margin-top:8px;
                padding:0 5px;
                border:1px solid #D6D6D6;
                background-color:#fff;
                line-height:20px;
                i{
                    display:inline-block;
                    margin-left:2px;
                    border:4px solid #fff;
                    border-top-color:#000;
                }
            }
        }
        .page{
            float:right;
            span{
                display:block;
                float:left;
                margin:8px 0 0 4px;
                border:1px solid #E6E6E6;
                background-color:#fff;
                width: 48px;
                height: 20px;
                line-height:20px;
                text-align:center;
            }
        }
    }
    .goods{
        .show{
            overflow:hidden;
            margin-bottom:10px;
            min-height:712px; 
            li{
                float:left;
                width: 220px;
                height: 310px;
                border:1px solid #F0F0F0;
                padding:5px;
                margin:0 17px 10px 0;
                font-size: 12px;
                img{
                    width: 220px;
                    // margin-bottom:5px;
                }
                div{
                    padding:5px;
                    a{
                        line-height:16px;
                        color:#333;
                    }
                    p{
                        color:#999999;
                        line-height:26px;
                    }
                    .retail{
                        font-size: 14px;
                        font-weight:bold;
                        color:#FF9900;
                        margin-right:10px;
                    }
                    .price{
                        text-decoration:line-through;
                    }
                }
            }
            li:nth-child(4n){
                margin-right:0;
            }
        }
        .page{
        position:relative;
        height:38px;
        margin:20px 0;
            >ul{
                overflow:hidden;
                border:1px solid #E6E6E6;
                border-left:0 none;
                // width: 444px;
                float:left;
                position:absolute;
                left:50%;
                transform:translate(-50%,0);
                font-size: 14px;
                line-height:36px;
                li{
                    float:left;
                    padding:0 8px;
                    cursor:pointer;
                    color:#AAAAAA;
                    border-left:1px solid #E6E6E6;
                    .page-list{
                        li{
                            padding:0 15px;
                        }
                        li:nth-child(1){
                            border-left:0 none;
                        }
                        .grey{
                            font-weight:bold;
                            background-color:#FAFAFA;
                            cursor:default;
                        }
                    }
                }
                >li:nth-child(3){
                    padding:0;
                }
            }
        }
    }

}