.main{
    padding:40px;
    margin-bottom:36px;
    background-color:#E2EBE8;
}
.header{
    h1{
        width:180px;
        margin:24px 10px 0 0;
        img{
            width:176px;
            // height:44px;
        }
    }
    .head-left{
        margin:20px 0 0 10px;
    }
    p{
        padding:45px 0 39px ;
        font-size: 16px;
        line-height:16px;
        a{
            color:#000;
            margin-left:40px;
        }
    }
}
.login-right{
    width:530px;
    padding-top:19px;
    margin-bottom:70px;
    background:url('img/login-right.png') no-repeat;
    .login-box{
        // width:302px;
        margin:0 89px 0 101px;
        height:460px;
        // margin-left:101px;
        // margin-right:89px;
        padding:0 18px 0 20px;
        background-color:#fff;
        p{
            padding:16px 0 45px;
            text-align:right;
            font-size: 14px;
            line-height:14px;
            a{
                display:block;
                float:right;
                color:#FFA500;
            }
        }
        .box{
            // width:300px;
            // height:45px;
            overflow:hidden;
            border:1px solid #ddd;
            margin-bottom:30px;
            i{
                display:block;
                float:left;
                width:22px;
                height:25px;
                margin:10px 15px;
                background:url('img/register-verify.png') no-repeat;
            }
            .user{
                background:url('img/user-icon.png') no-repeat;
            }
            .password{
                background:url('img/password-icon.png') no-repeat;
            }
            input{
                margin:10px 0;
                font-size: 14px;
                line-height:25px;
                border-left:1px solid #ddd;
                padding-left:10px;
                color:#000;
                max-width:238px;
            }
            span{
                display:block;
                float:right;
                width: 90px;
                height:26px;
                margin:10px 20px 0 0;
                background-color:#ddd;
            }
        }
        .box:nth-child(4){
            input{
                width:127px;
            }
        }
        .forget{
            padding:6px 0 29px;
            text-align:right;
            overflow:hidden;
            a{
                color:#333;
            }
            a:hover{
                color:#FFA500;
            }
        }
        .user-login{
            display:block;
            width:100%;
            height:40px;
            border-radius:4px;
            background-color:#FF9900;
            font-size: 16px;
            color:#fff;
            cursor:pointer;
        }
    }
}