@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

fieldset, img, input, button, select, textarea {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

/*去掉input等聚焦时的蓝色边框*/
ul, ol, li {
  list-style: none;
}

/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea {
  resize: none;
}

/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {
  border-collapse: collapse;
}

/*添加公共样式*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
/*.clearfix:before,.clearfix:after {  清楚浮动
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;IE/7/6
}*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  zoom: 1;
}

a {
  text-decoration: none;
}

/*color:#666;*/
/*a:hover{color:#C81623;}*/
h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 1em;
}

/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s, i, em {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/
.container {
  /*版心 提取 */
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.hide {
  display: none;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

/*公共部分*/
#chaofan {
  min-width: 1200px;
  _width: expression(document.body.clientWidth < 1200 ? "1200px" : "auto");
}

/*头部导航开始*/
.header-top {
  border-bottom: 1px solid #F0F0F0;
  background-color: #FAFAFA;
  font-size: 12px;
  line-height: 30px;
  font-family: Arial, "宋体";
}

.header-top .post {
  width: 260px;
  height: 30px;
  position: relative;
}

.header-top .post .post-area {
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 11;
  line-height: 32px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 0px 10px;
  color: #777777;
}

.header-top .post .post-area span {
  margin-right: 6px;
}

.header-top .post .post-area i {
  display: inline-block;
  width: 6px;
  height: 3px;
  vertical-align: middle;
  background: url("../images/top_bg.png") no-repeat 0 0;
}

.header-top .post ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 236px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  z-index: 10;
  display: none;
}

.header-top .post ul li {
  float: left;
  padding: 4px 8px;
  margin: 2px;
  line-height: 12px;
}

.header-top .post ul li a {
  color: #555;
  cursor: pointer;
}

.header-top .top-r {
  color: #777;
}

.header-top .top-r a {
  color: #777;
}

.header-top .top-r .tLeft .hemo_a, .header-top .top-r .tLeft .register_a {
  color: #000;
  margin-left: 4px;
}

.header-top .top-r .tLeft .login_a {
  color: #FFA500;
  margin: 0 7px 0 5px;
}

.header-top .top-r .tLeft .register_a {
  margin-right: 9px;
}

.header-top .top-r .tRight li {
  float: left;
  padding: 0 7px 0 13px;
  background: url("../images/topbar-line.png") no-repeat right center;
}

.header-top .top-r .tRight li i {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin-left: 7px;
  vertical-align: middle;
  background: url("../images/top_bg.png") no-repeat 0 0;
}

.header-top .top-r .tRight li .phone {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  margin: 0;
  background: url("../images/phone.png") no-repeat left center;
}

.header-top .top-r .tRight li .weixin {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 17px;
  margin: 0;
  background: url("../images/weixin.png") no-repeat left center;
}

.header-top .post:hover .post-area {
  background-color: #fff;
  border-left-color: #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.header-top .post:hover .post-area i {
  background-position: -10px 0;
}

.header-top .post:hover ul {
  display: block;
}

.header-bottom h1 img {
  max-width: 176px;
  margin: 24px 24px 0 0;
}

.header-bottom .head-left img {
  margin: 21px 90px 0 0;
}

.header-bottom .head-center {
  padding-top: 23px;
  font-size: 12px;
  margin-bottom: 7px;
}

.header-bottom .head-center .searchBox {
  line-height: 36px;
  display: block;
  border: 3px solid #FFA500;
}

.header-bottom .head-center .searchBox span {
  display: block;
  padding: 0 14px;
  background-color: #F9F9F9;
}

.header-bottom .head-center .searchBox span i {
  display: inline-block;
  width: 6px;
  height: 3px;
  margin-left: 7px;
  vertical-align: middle;
  background: url("../images/top_bg.png") no-repeat 0 0;
}

.header-bottom .head-center .searchBox .keyword {
  display: block;
  width: 354px;
  padding: 6px;
  font-size: 12px;
  line-height: 24px;
}

.header-bottom .head-center .searchBox .searc {
  display: block;
  padding: 0 26px;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  background-color: #FFA500;
}

.header-bottom .head-center .linkBox a {
  color: #777777;
  margin-right: 12px;
  line-height: 28px;
}

.header-bottom .head-center .linkBox .sofa_a, .header-bottom .head-center .linkBox .floor_a {
  color: #FFA500;
}

.header-bottom .head-right {
  width: 145px;
  border: 1px solid #f0f0f0;
  margin-top: 23px;
  background-color: #FAFAFA;
}

.header-bottom .head-right i:nth-child(1) {
  display: block;
  width: 20px;
  height: 16px;
  background: url("../images/top_bg.png") no-repeat -120px 0;
  margin: 14px 8px 0 10px;
}

.header-bottom .head-right span {
  font-size: 12px;
  line-height: 40px;
}

.header-bottom .head-right .arrows {
  display: block;
  margin: 18px 0 0 9px;
  border: 4px solid transparent;
  border-top-color: #777;
}

.navbar {
  border-bottom: 2px solid #000;
}

.navbar .recommend {
  width: 192px;
  padding: 11px 10px;
  background-color: #FFA500;
}

.navbar .recommend i {
  display: block;
  width: 18px;
  height: 14px;
  margin-right: 7px;
  background: url("../images/top_bg.png") no-repeat -182px -186px;
}

.navbar .recommend a {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.navbar .nav-ul > li {
  float: left;
}

.navbar .nav-ul > li a {
  display: block;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 18px;
  color: #000;
}

.navbar .nav-right img {
  height: 36px;
}

/*尾部部导航开始*/
.footer-contact {
  padding: 30px 0;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #E7E7E7;
}

.footer-contact .contact-l h3 {
  font-size: 16px;
  line-height: 18px;
}

.footer-contact .contact-l .contact-phone {
  width: 170px;
  height: 107px;
  margin-top: 20px;
  padding-left: 80px;
  background: url("../images/contact_1.png") no-repeat;
}

.footer-contact .contact-l .contact-phone h3 {
  font-weight: bold;
  color: #FFA227;
}

.footer-contact .contact-l .contact-phone p {
  font-size: 12px;
  line-height: 38px;
  color: #666;
}

.footer-contact .contact-c {
  height: 145px;
  border-left: 1px solid #E4E4E4;
}

.footer-contact .contact-c ul {
  overflow: hidden;
}

.footer-contact .contact-c ul li {
  float: left;
  width: 100px;
  padding-left: 30px;
}

.footer-contact .contact-c ul li dt {
  font-size: 14px;
  padding: 4px 0 8px 0;
  font-weight: bold;
  color: #666;
}

.footer-contact .contact-c ul li dd {
  font-size: 12px;
  line-height: 24px;
}

.footer-contact .contact-c ul li dd a {
  color: #666;
}

.footer-contact .contact-r {
  border-left: 1px solid #E4E4E4;
}

.footer-contact .contact-r ul {
  padding: 0 37px 0 5px;
}

.footer-contact .contact-r ul li {
  float: left;
  text-align: center;
  margin-left: 25px;
}

.footer-contact .contact-r ul li h4 {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.footer-contact .contact-r ul li p {
  font-size: 12px;
  line-height: 38px;
}

.footer {
  padding: 5px 0;
  text-align: center;
}

.footer p {
  font-size: 12px;
  line-height: 28px;
  color: #666;
}

.footer p a {
  color: #666;
}
