.banner {
  min-width: 1200px;
  height: 400px;
  position: relative;
}

.banner .box {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.one-l {
  width: 989px;
}

.one-l > ul {
  border-bottom: 2px solid #F0F0F0;
}

.one-l > ul > li {
  float: left;
}

.one-l > ul > li h3 {
  width: 198px;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  color: #666666;
  text-align: center;
}

.one-l .goodsBox > ul {
  border-bottom: 1px solid #F0F0F0;
}

.one-l .goodsBox > ul li {
  float: left;
}

.one-l .goodsBox > ul li .goods {
  padding: 15px 19px 0 18px;
  border-right: 1px dotted #F0F0F0;
}

.one-l .goodsBox > ul li .goods a {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #555;
}

.one-l .goodsBox > ul li .goods a img {
  width: 160px;
  height: 160px;
}

.one-l .goodsBox > ul li .goods .goods-name {
  height: 32px;
}

.one-l .goodsBox > ul li .goods p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  margin-bottom: 15px;
}

.one-l .goodsBox > ul li .goods p span {
  color: #FFA500;
  font-size: 14px;
  font-weight: bold;
}

.one-r {
  width: 200px;
}

.one-r .r-top {
  border: 1px solid #F0F0F0;
  margin: 10px 2px 0 0;
}

.one-r .r-top h3 {
  border-bottom: 1px solid #F0F0F0;
  padding-left: 10px;
  line-height: 36px;
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  background-color: #F9F9F9;
}

.one-r .r-top ul {
  padding: 4px 10px;
}

.one-r .r-top ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
  font-size: 12px;
  line-height: 22px;
}

.one-r .r-top ul li a {
  color: #666;
}

.one-r .r-bottom {
  margin-top: 10px;
}

.one-r .r-bottom img {
  width: 200px;
  height: 115px;
}

.main-two h2 {
  width: 100px;
  padding-right: 128px;
  font-size: 22px;
  line-height: 60px;
  background: url(../images/tips.jpg) no-repeat right center;
}

.main-two .mt-goods {
  border: 1px solid #E7E7E7;
  border-right: 0 none;
}

.main-two .mt-goods .mt-one {
  border-bottom: 1px solid #E7E7E7;
}

.main-two .mt-goods .mt-one li {
  float: left;
  width: 399px;
  border-right: 1px solid #E7E7E7;
  overflow: hidden;
}

.main-two .mt-goods .mt-one li:nth-child(1) {
  width: 398px;
}

.main-two .mt-goods .mt-two {
  border-bottom: 1px solid #E7E7E7;
}

.main-two .mt-goods .mt-two li {
  float: left;
  width: 299px;
  border-right: 1px solid #E7E7E7;
  overflow: hidden;
}

.main-two .mt-goods .mt-two li:nth-child(1) {
  width: 298px;
}

.main-two .mt-goods .mt-three li {
  float: left;
  width: 149px;
  border-right: 1px solid #E7E7E7;
  overflow: hidden;
  text-align: center;
}

.main-two .mt-goods .mt-three li img {
  width: 100px;
  height: 55px;
}

.main-two .mt-goods .mt-three li:nth-child(1) {
  width: 148px;
}

.main-three {
  margin-top: 10px;
}

.main-three .towerBox {
  padding: 20px 0;
  font-size: 14px;
  line-height: 36px;
  border-bottom: 1px solid #DDDDDD;
}

.main-three .towerBox span {
  padding: 0 10px;
  font-weight: bold;
  color: #FFAC00;
}

.main-three .towerBox span em {
  color: #C9CFC8;
}

.main-three .towerBox ul {
  padding-left: 19px;
}

.main-three .towerBox ul li {
  float: left;
  width: 120px;
  margin-right: 32px;
  text-align: center;
}

.main-three .three-show .tower {
  padding-top: 10px;
}

.main-three .three-show .tower h3 {
  padding-left: 10px;
  font-size: 22px;
  line-height: 66px;
}

.main-three .three-show .tower .first-floor {
  border-bottom: 2px solid #60B3FF;
}

.main-three .three-show .tower .second-floor {
  border-bottom: 2px solid #FB7192;
}

.main-three .three-show .tower .third-floor {
  border-bottom: 2px solid #35BFCA;
}

.main-three .three-show .tower ul {
  padding: 42px 4px 0 0;
}

.main-three .three-show .tower ul li {
  float: left;
}

.main-three .three-show .tower ul li a {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #000;
  margin-right: 8px;
}

.main-three .three-show .first-tower {
  border-bottom: 1px solid #60B3FF;
}

.main-three .three-show .second-tower {
  border-bottom: 1px solid #FB7192;
}

.main-three .three-show .third-tower {
  border-bottom: 1px solid #35BFCA;
}

.main-three .three-show .goods-show .show-l {
  width: 218px;
  height: 499px;
  border: 1px solid #E7E7E7;
  border-top: 0 none;
  overflow: hidden;
}

.main-three .three-show .goods-show .show-c .sc-t {
  width: 499px;
  height: 319px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  overflow: hidden;
  position: relative;
}

.main-three .three-show .goods-show .show-c .sc-t ul {
  position: absolute;
  top: 0px;
  left: -500px;
  width: 1000px;
}

.main-three .three-show .goods-show .show-c .sc-t ul li {
  float: left;
}

.main-three .three-show .goods-show .show-c .sc-b li {
  float: left;
  width: 249px;
  height: 179px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  overflow: hidden;
}

.main-three .three-show .goods-show .show-r ul {
  width: 480px;
}

.main-three .three-show .goods-show .show-r ul li {
  float: left;
  width: 239px;
  height: 249px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  overflow: hidden;
}

.footer-line {
  margin-top: 20px;
  border-top: 4px solid #E7E7E7;
  border-bottom: 5px solid #F9F9F9;
}

.footer-line ul li {
  float: left;
  width: 200px;
  padding-top: 30px;
  text-align: center;
}

.footer-line ul li a {
  cursor: pointer;
}

.footer-line ul li p {
  font-size: 12px;
  line-height: 38px;
  color: #333;
}
