.header h1 {
  width: 180px;
  margin: 24px 10px 0 0;
}

.header h1 img {
  width: 176px;
}

.header .head-left {
  margin: 20px 0 0 10px;
}

.header p {
  padding: 45px 0 39px;
  font-size: 16px;
  line-height: 16px;
}

.header p a {
  color: #000;
  margin-left: 40px;
}

.trabecula {
  padding-top: 12px;
  background: url("img/trabecula.png");
}

.register-bt {
  height: 45px;
  margin: 50px 0;
  border-bottom: 2px solid #ddd;
}

.register-bt ul {
  padding-left: 192px;
}

.register-bt ul li {
  float: left;
  padding: 10px 50px;
  margin-right: 60px;
  font-size: 16px;
  line-height: 25px;
}

.register-bt ul li span {
  float: left;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  color: #fff;
}

.register-bt ul li p {
  float: left;
  margin-left: 10px;
}

.con {
  width: 402px;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
}

.con .box {
  overflow: hidden;
  border: 1px solid #ddd;
}

.con .box i {
  display: block;
  float: left;
  width: 22px;
  height: 25px;
  margin: 10px 15px;
  background: url("img/register-verify.png") no-repeat;
}

.con .box input {
  margin: 10px 0;
  font-size: 14px;
  line-height: 25px;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  color: #000;
  max-width: 228px;
}

.con .hint {
  display: block;
  width: 0px;
  height: 14px;
  padding: 10px 0 16px 65px;
  font-size: 14px;
  line-height: 14px;
  color: #f00;
  overflow: hidden;
}

.con .next {
  display: block;
  width: 100%;
  height: 50px;
  margin: 47px 0 77px 0;
  border-radius: 4px;
  background-color: #FFA500;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.register-first .box .register-phone {
  background: url("img/register-phone.png") no-repeat;
}

.register-first .box .randomCode {
  display: block;
  float: right;
  width: 90px;
  height: 26px;
  margin: 10px 20px 0 0;
  background-color: #ddd;
  cursor: pointer;
}

.register-first .phone-verify {
  overflow: hidden;
}

.register-first .phone-verify .box {
  width: 240px;
}

.register-first .phone-verify .getCode {
  width: 150px;
  margin-left: 10px;
  line-height: 47px;
  background-color: #FFA500;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.register-first .agreement {
  overflow: hidden;
}

.register-first .agreement span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: url("img/accept-icon.png");
}

.register-first .agreement p {
  float: left;
  padding-left: 22px;
  font-size: 12px;
  line-height: 18px;
  color: #666;
}

.register-first .agreement p a {
  color: #0199CB;
}

.register-second {
  display: none;
}

.register-second .box .register-user {
  background: url("img/user-icon.png") no-repeat;
}

.register-second .box .register-password, .register-second .box .register-affirm {
  background: url("img/password-icon.png") no-repeat;
}

.register-third {
  display: none;
  height: 350px;
  padding-top: 30px;
}

.register-third .register-succeed {
  height: 34px;
  margin-left: 45px;
  padding-left: 45px;
  background: url("img/register-succeed.jpg") no-repeat;
  line-height: 26px;
}

.register-third .register-succeed p:nth-child(1) {
  color: #666;
}

.register-third .register-succeed p:nth-child(2) {
  font-size: 14px;
}

.register-third .register-succeed p:nth-child(2) span {
  color: #DA000E;
}

.register-third .register-succeed p:nth-child(3) {
  letter-spacing: 5px;
  line-height: 36px;
}

.register-bt .conspicuous {
  border-bottom: 2px solid #FFA500;
}

.register-bt .conspicuous span {
  background-color: #FFA500;
}
